*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body , html{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
}
.main{
    /* background-color: black; */
    color: rgb(255, 255, 255);
    color: white;
    background-color: black;
    display: flex;
    /* padding: 10px; */
}
.heder{
    padding: 15px;
    margin-right: 60%;
    margin-left: 10px;
}
.list li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    padding-top: 20px;
    font-size: 20px;
}


.background{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: black;
    background-image:url('image1neww.png') ;
     /* background-size: cover;  */
     /* background-size: 100%;    */

    background-position: right;
    background-repeat: no-repeat; 

}


.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.514);

    
}

.content{
    position: absolute;
    top: 20%;
    right: 40%;
    /* transform: translate(-10% , -10%); */
    color: white;
    text-align: center;
    margin-top: 100px;
}


.content h1{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    text-align: left;
   margin-left: 180px;
    margin-bottom: 15px;

}

.content p{
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
    margin-left: 180px;
    margin-bottom: 15px;
    color: rgb(215, 210, 210);


}

.content  button{
    /* margin-top: 10px; */
    color: white;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
     padding: 12px 50px;
     border-radius: 4px;
     /* margin-right: 10px; */
     /* justify-items: left; */

}

 .content .btn1{
    /* padding-right: 500px; */
}

.content button:hover{
    background-color: rgb(134, 245, 49);
    color: rgb(255, 255, 255);
    transition: 2s;
}
.midhead{
    color: #fff;
    background-color: black;
    padding-left: 50px;
}
.midsec{
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 25px;
    width: 100%;
    height: 400px;
    display: flex;
    background-color: black;
}
.midsec1{
    padding-top: -20px;
    padding: 25px;
    width: 100%;
    height: 450px;
    display: flex;
    background-color: black;
    
}
.card img{
    border-radius: 25px;
}
.card{
 padding: 20px;
 color: white;
}
.foursec{
    padding: 40px;
    display: flex;
    background-color: rgb(56, 55, 55);
}
.foursec h1{
    color: #fff;
    padding: 50px;
    margin-left: 70px;
    font-size: 100px;
    margin-bottom: -150px;

}
.foursec img{
    margin-top: -2px;
    margin-left: 70px;
}
.foursec p{
    color: #fff;
   padding-top: 150px;
   padding-left: 150px;
   padding-right: 150px;
   padding-bottom: 30px;
    margin-left: 100px;
}
.foursec button{
 margin-left: 300px;
 padding: 5px;

}
.lastsec{
  
    
    display: flex;
}